body.pdf {
    color: black;
    
    font-size: 11pt;

    a {
        text-decoration: none;
        color: black;
    }

    #wrapper,
    .container {
        width: 612pt;
        margin: 0 auto;
        padding: 0;
        background: none;
        border: none;
        text-align: left;
    }
/*
    a[href$='.pdf'] {
        display: none;
    } */
}
