<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <link href="pb.css" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        {{#reload}}
        <meta http-equiv="refresh" content="{{refresh_rate}}">
        {{/reload}}

        <title>{{title}}</title>
        <style type="text/css">
        {{{stylex}}}
        </style>
    </head>

<body class="">
    <div id="wrapper">
        <div class="resume">
            {{{resume}}}
        </div>
    </div>
</body>
</html>
